<!-- <h1>Create a Song</h1>
<form action='/songs' method='POST'>
  <label for="Name">Name</label>
  <input type='text' id="Name" name='song[:name]'>

 <h2>Artist</h2>
  <h3>Existing Artist</h3>
  <% @artists.each do |artist| %> -->
<!-- </form> -->